@font-face
{
    font-family: ralewayRegular;
    src:url(fonts/ralewayRegular.ttf);
}
@font-face
{
    font-family: ralewayBold;
    src:url(fonts/ralewayBold.ttf);
}
@font-face
{
    font-family: asap;
    src:url(fonts/asap-regular.ttf);
}
@font-face
{
    font-family: archivo;
    src:url(fonts/archivo-regular.ttf);
}
@font-face
{
    font-family: ralewayExtraBold;
    src:url(fonts/ralewayExtraBold.ttf);
}
@font-face
{
    font-family: kaushanScript;
    src:url(fonts/kaushanScript.otf);
}
@font-face
{
    font-family: agentOrange;
    src:url(fonts/agentOrange.ttf);
}
@font-face
{
    font-family: montserrat;
    src:url(fonts/Montserrat-Regular.otf);
}
@font-face
{
    font-family: oswald;
    src:url(fonts/Oswald-Regular.ttf);
}
@font-face
{
    font-family: brooklyn;
    src:url(fonts/brooklyn.otf);
}
@font-face
{
    font-family: nexaBold;
    src:url(fonts/NexaBold.otf);
}
@font-face
{
    font-family: nexaLight;
    src:url(fonts/NexaLight.otf);
}
@font-face
{
    font-family: beautifulpeople;
    src:url(fonts/beautifulpeople.ttf);
}
@font-face
{
    font-family: karolina;
    src:url(fonts/karolina.otf);
}
@font-face
{
    font-family:trench;
    src:url(fonts/trench.ttf);
}
@font-face
{
    font-family:dispense;
    src:url(fonts/dispense.otf);
}


